
body{
    background-color: brown;
}

@media screen and (max-width:200px){
       
    body{
      background-color: rgb(212, 212, 212);
    }
  }



@media screen and (max-width:1000px){
       
    body{
      background-color: rgb(167, 185, 54);
    }
  }
  